<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Region and Providers">
        <setting label="Region" type="enum" id="region" values="Australia|Brazil|Canada|Germany|Ireland|New Zealand|South Africa|United Kingdom|United States" default="United States"/>
        <setting label="Providers" type="lsep"/>
        <setting label="Netflix" visible="eq(-2,8) | eq(-2,2) | eq(-2,3) | eq(-2,7) | eq(-2,1) | eq(-2,4) | eq(-2,0) | eq(-2,6) | eq(-2,5)" type="bool" id="provider_netflix" default="true"/>
        <!-- 8,2,3,7,1,4,0,6,5 -->
        <setting label="Crackle" visible="eq(-3,8) | eq(-3,2) | eq(-3,1) | eq(-3,0)" type="bool" id="provider_crackle" default="true"/>
        <!-- 8,2,1,0 -->
        <setting label="Apple iTunes" visible="eq(-4,8) | eq(-4,2) | eq(-4,3) | eq(-4,7) | eq(-4,1) | eq(-4,4) | eq(-4,0) | eq(-4,6) | eq(-4,5)" type="bool" id="provider_itunes" default="true"/>
        <!-- 8,2,3,7,1,4,0,6,5 -->
        <setting label="Google Play Movies" visible="eq(-5,8) | eq(-5,2) | eq(-5,3) | eq(-5,7) | eq(-5,1) | eq(-5,0) | eq(-5,5)" type="bool" id="provider_play" default="true"/>
        <!-- 8,2,3,7,1,0,5 -->
        <setting label="PlayStation" visible="eq(-6,8) | eq(-6,2) | eq(-6,3) | eq(-6,7) | eq(-6,1) | eq(-6,0)" type="bool" id="provider_playstation" default="true"/>
        <!-- 8,2,3,7,1,0 -->
        <setting label="Xbox" visible="eq(-7,8) | eq(-7,2) | eq(-7,3) | eq(-7,7) | eq(-7,1) | eq(-7,0) | eq(-7,5)" type="bool" id="provider_xbox" default="true"/>
        <!-- 8,2,3,7,1,0,5 -->
        <setting label="Fandor" visible="eq(-8,8) | eq(-8,2)" type="bool" id="provider_fandor" default="true"/>
        <!-- 8,2 -->
        <setting label="Mubi" visible="eq(-9,8) | eq(-9,2) | eq(-9,3) | eq(-9,7) | eq(-9,1) | eq(-9,4) | eq(-9,0) | eq(-9,6) | eq(-9,5)" type="bool" id="provider_mubi" default="true"/>
        <!-- 8,2,3,7,1,4,0,6,5 -->
        <setting label="Amazon Prime Instant Video" visible="eq(-10,8) | eq(-10,3) | eq(-10,7)" type="bool" id="provider_amazonprime" default="true"/>
        <!-- 8,3,7 -->
        <setting label="HBO Now" visible="eq(-11,8)" type="bool" id="provider_hbonow" default="true"/>
        <!-- 8 -->
        <setting label="Hulu Plus" visible="eq(-12,8)" type="bool" id="provider_huluplus" default="true"/>
        <!-- 8 -->
        <setting label="Hulu" visible="eq(-13,8)" type="bool" id="provider_hulu" default="true"/>
        <!-- 8 -->
        <setting label="Epix" visible="eq(-14,8)" type="bool" id="provider_epix" default="true"/>
        <!-- 8 -->
        <setting label="Showtime" visible="eq(-15,8)" type="bool" id="provider_showtime" default="true"/>
        <!-- 8 -->
        <setting label="Starz Play" visible="eq(-16,8)" type="bool" id="provider_starz" default="true"/>
        <!-- 8 -->
        <setting label="Amazon Instant Video" visible="eq(-17,8) | eq(-17,3) | eq(-17,7)" type="bool" id="provider_amazon" default="true"/>
        <!-- 8,3,7 -->
        <setting label="Vudu" visible="eq(-18,8)" type="bool" id="provider_vudu" default="true"/>
        <!-- 8 -->
        <setting label="realeyz" visible="eq(-19,8) | eq(-19,3)" type="bool" id="provider_realeyz" default="true"/>
        <!-- 8,3 -->
        <setting label="Shomi" visible="eq(-20,2)" type="bool" id="provider_shomi" default="true"/>
        <!-- 2 -->
        <setting label="CraveTV" visible="eq(-21,2)" type="bool" id="provider_cravetv" default="true"/>
        <!-- 2 -->
        <setting label="Maxdome" visible="eq(-22,3)" type="bool" id="provider_maxdome" default="true"/>
        <!-- 3 -->
        <setting label="maxdome Store" visible="eq(-23,3)" type="bool" id="provider_maxdomestore" default="true"/>
        <!-- 3 -->
        <setting label="Skysnap" visible="eq(-24,3)" type="bool" id="provider_skysnap" default="true"/>
        <!-- 3 -->
        <setting label="Sky Go" visible="eq(-25,3) | eq(-25,4)" type="bool" id="provider_skygo" default="true"/>
        <!-- 3,4 -->
        <setting label="Watchever" visible="eq(-26,3)" type="bool" id="provider_watchever" default="true"/>
        <!-- 3 -->
        <setting label="Wuaki" visible="eq(-27,3) | eq(-27,7)" type="bool" id="provider_wuaki" default="true"/>
        <!-- 3,7 -->
        <setting label="Sky Online" visible="eq(-28,3)" type="bool" id="provider_skyonline" default="true"/>
        <!-- 3 -->
        <setting label="Chili" visible="eq(-29,3) | eq(-29,7)" type="bool" id="provider_chili" default="true"/>
        <!-- 3,7 -->
        <setting label="Alleskino" visible="eq(-30,3)" type="bool" id="provider_alleskino" default="true"/>
        <!-- 3 -->
        <setting label="Netzkino" visible="eq(-31,3)" type="bool" id="provider_netzkino" default="true"/>
        <!-- 3 -->
        <setting label="Superpopcorn" visible="eq(-32,3)" type="bool" id="provider_superpopcorn" default="true"/>
        <!-- 3 -->
        <setting label="Cinepass" visible="eq(-33,3)" type="bool" id="provider_cinepass" default="true"/>
        <!-- 3 -->
        <setting label="Amazon DVD / Blu-Ray" visible="eq(-34,3)" type="bool" id="provider_amazondvdbr" default="true"/>
        <!-- 3 -->
        <setting label="BBC iPlayer" visible="eq(-35,7)" type="bool" id="provider_bbc" default="true"/>
        <!-- 7 -->
        <setting label="Now TV" visible="eq(-36,7)" type="bool" id="provider_nowtv" default="true"/>
        <!-- 7 -->
        <setting label="ITV Player" visible="eq(-37,7)" type="bool" id="provider_itv" default="true"/>
        <!-- 7 -->
        <setting label="Blinkbox" visible="eq(-38,7)" type="bool" id="provider_blinkbox" default="true"/>
        <!-- 7 -->
        <setting label="Looke" visible="eq(-39,1)" type="bool" id="provider_looke" default="true"/>
        <!-- 1 -->
        <setting label="NetMovies" visible="eq(-40,1)" type="bool" id="provider_netmovies" default="true"/>
        <!-- 1 -->
        <setting label="Volta" visible="eq(-41,4)" type="bool" id="provider_volta" default="true"/>
        <!-- 4 -->
        <setting label="Stan" visible="eq(-42,0)" type="bool" id="provider_stan" default="true"/>
        <!-- 0 -->
        <setting label="Quickflix" visible="eq(-43,0) | eq(-43,5)" type="bool" id="provider_quickflix" default="true"/>
        <!-- 0,5 -->
        <setting label="Quickflix Store" visible="eq(-44,0) | eq(-44,5)" type="bool" id="provider_quickflixstore" default="true"/>
        <!-- 0,5 -->
        <setting label="ShowMax" visible="eq(-45,6)" type="bool" id="provider_showmax" default="true"/>
        <!-- 6 -->
        <setting label="BoxOffice" visible="eq(-46,6)" type="bool" id="provider_boxoffice" default="true"/>
        <!-- 6 -->
    </category>
    <category label="Stream Types">
        <setting label="Flatrate" type="bool" id="monetization_flatrate" default="true"/>
        <setting label="Free" type="bool" id="monetization_free" default="true"/>
        <setting label="Ads" type="bool" id="monetization_ads" default="true"/>
        <setting label="Buy" type="bool" id="monetization_buy" default="true"/>
        <setting label="Rent" type="bool" id="monetization_rent" default="true"/>
        <setting label="Cinema" type="bool" id="monetization_cinema" default="true"/>
    </category>
    <category label="Stream Quality">
        <setting label="HD" type="bool" id="presentation_hd" default="true"/>
        <setting label="SD" type="bool" id="presentation_sd" default="false"/>
    </category>
</settings>